.nav {
    background-color: #4a90e2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0;
}

.authMenu {
    display: flex;
}

.logoContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 50px;
}


/*
@media (max-width: 565px) {
    .nav ul {
        padding-inline-start: 0;
    }
}*/
