.container {
    max-width: 600px;
    margin: auto;
}

.container h1 {
    text-align: center;
}

.formContainer {
    margin-top:20px;
    padding:20px;
    border-radius:8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}